html{
scroll-behavior: smooth;
}
.navLink-animation:hover::after{
animation: transform 1s linear forwards;
border-top: white;
}
@keyframes transform {
0%{
    border-top: white;
}
2%,100%{
border-top: #2179b5;    
}
}